//COLORES
$primary-color: #36BFB1;
$secondary-color: #0D0D0D;

$text-color: #333;
$color1:#02735E;
$color2:#038C73;
$color3:#014034;
$color4:#02a788;

//Editar variables bootstrap
$primary: $primary-color;
$secondary: $secondary-color;

